Repository shutter-network/shutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, mypy, gofumports

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: local
    hooks:
      # This one replaces github.com/dnephin/pre-commit-golang's
      # go-mod-tidy hook because it only works with top-level
      # go.mod/go.sum file
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: tools/go-mod-tidy
        files: '\.go$'
        language: script

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: ac0f6582d2484b3aa90b05d568e70f9f3c1374c7
    hooks:
      - id: go-fmt

  # CircleCI stop here

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        additional_dependencies:
          ["prettier@2.2.1", "prettier-plugin-solidity@1.0.0-beta.5"]
        args: ["--plugin=prettier-plugin-solidity"]
        exclude: "^contracts/openzeppelin/.*"

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/sqlalchemyorg/zimports
    rev: cfdf326902fe8e4478d11a7cb2e837bab1cde1d0
    hooks:
      - id: zimports

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ["contracts/tests/", "noxfile.py"]
        pass_filenames: False
      - id: gofumports
        name: gofumports
        entry: gofumports
        language: system
        types: [go]
        args: ["-w", "-local", "github.com/brainbot-com/shutter"]
        pass_filenames: True
        exclude: ^shuttermint/contract/binding\.go|shuttermint/shmsg/.*\.pb\.go$

Be more consistent in naming variables
  contracts/contracts/BatcherContract.sol
  contracts/contracts/ConfigContract.sol
  contracts/contracts/ExecutorContract.sol
  contracts/contracts/FeeBankContract.sol
  contracts/contracts/KeyperSlasher.sol
  contracts/contracts/MockBatcherContract.sol
  shuttermint/contract/binding.go
Due: go-mod-tidy

Update eth-brownie to 1.14.3
  requirements.in
  requirements.txt
Due: none

Also run execute cipher batch benchmark with batch_size zero
  contracts/tests/benchmarks/benchmark_executor.py
Due: mypy

Set gas limit manually when executing transactions
  shuttermint/keyper/decide.go
  shuttermint/keyper/fx/actions.go
  shuttermint/keyper/fx/runenv.go
Due: go-mod-tidy, gofumports

Set gas limit manually for SkipCipherBatch
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Do not copy the TransactOpts object in SendTX
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Remove the 'already have synced to block XXX' log message
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Add global --log option
  shuttermint/cmd/chain.go
  shuttermint/cmd/keyper.go
  shuttermint/cmd/root.go
Due: go-mod-tidy, gofumports

Log number of pending actions
  shuttermint/keyper/fx/pending.go
  shuttermint/keyper/fx/runenv.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Fix State's PendingHalfStep
  shuttermint/keyper/fx/runenv.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Increase skip cipher execution gas limit
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Add imprint
  example/src/App.vue
  example/src/components/Imprint.vue
Due: none

Use latest contracts
  example/src/assets/contracts.json
Due: none

Improve example app
  example/src/App.vue
  example/src/components/BatchSection.vue
  example/src/components/Enabler.vue
  example/src/components/Intro.vue
  example/src/components/StatusPanel.vue
  example/src/components/SubmitForm.vue
  example/src/components/TargetSection.vue
Due: none

Show message if no provider is found
  example/src/App.vue
  example/src/main.js
Due: none

Create LICENSE
  LICENSE
Due: none

Use 1.5 times the suggested gas price
  shuttermint/contract/caller.go
Due: go-mod-tidy, gofumports

Improve batch section description
  example/src/components/BatchSection.vue
Due: none

Update contract addresses
  example/src/assets/contracts.json
Due: none

Increase cipher execution batch base limit
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Set batch execution base gas limits to both 250k
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Update status panel description
  example/src/components/StatusPanel.vue
Due: none

Add link to example app in readme
  README.md
Due: none

Add script to verify source code
  contracts/verify_source.py
Due: mypy

Limit queries to 500 blocks in fetchAndApplyEvents
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Update link to blog post
  example/src/components/Intro.vue
Due: none

Don't hardcode tx sending gas limit
  example/src/components/SubmitForm.vue
Due: none

Do not abort on errors in SyncMain/SyncShutter
  shuttermint/keyper/keyper.go
  shuttermint/keyper/observe/mainchain.go
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Add a test for the 'slice out of bounds' error in fx.pending
  shuttermint/keyper/fx/pending_test.go
Due: go-mod-tidy, gofumports

Add build_dapp session to noxfile
  noxfile.py
Due: mypy

Use select loop for syncing once
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Add vue.config.js
  example/vue.config.js
Due: none

Call npm install with -g flag
  noxfile.py
Due: mypy

Build wasm file as part of the build_dapp session
  noxfile.py
Due: mypy

Fix build_dapp session
  noxfile.py
Due: mypy

Update copyright holder
  LICENSE
Due: none

Add sandbox/state-du
  shuttermint/sandbox/state-du/du.go
Due: go-mod-tidy, gofumports

Don't capitalize button labels
  example/src/components/SubmitForm.vue
Due: none
