Repository shutter-network/shutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, mypy, gofumports

go-mod-tidy:
  name: go-mod-tidy
  entry: tools/go-mod-tidy
  language: script

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - contracts/tests/
  - noxfile.py
  pass_filenames: false

gofumports:
  name: gofumports
  entry: gofumports
  language: system
  args:
  - -w
  - -local
  - github.com/brainbot-com/shutter
  pass_filenames: true

Use same name for method receiver
  shuttermint/shcrypto/encoding.go
  shuttermint/shcrypto/keys.go
Due: go-mod-tidy, gofumports

Improve ComputeEonSecretKeyShare's docstring
  shuttermint/shcrypto/keys.go
Due: go-mod-tidy, gofumports

Remove linter warning from encryption_test.go
  shuttermint/shcrypto/encryption_test.go
Due: go-mod-tidy, gofumports

Remove linter warning from keys_test.go
  shuttermint/shcrypto/keys_test.go
Due: go-mod-tidy, gofumports

Remove keyper/utils.go
  shuttermint/keyper/utils.go
  shuttermint/keyper/utils_test.go
Due: go-mod-tidy, gofumports

Do not send epoch secret share if the execution timeout is reached
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Do not send decryption signature if the execution timeout is reached
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Upgrade golang.org/x/* modules
  shuttermint/go.mod
  shuttermint/go.sum
Due: none

Add --contracts flag to bootstrap subcommand
  shuttermint/cmd/bootstrap.go
Due: go-mod-tidy, gofumports

Restructure commands
  shuttermint/Makefile
  shuttermint/cmd/bootstrap.go
  shuttermint/cmd/chain.go
  shuttermint/cmd/config/config.go
  shuttermint/cmd/config/list.go
  shuttermint/cmd/config/query.go
  shuttermint/cmd/config/schedule.go
  shuttermint/cmd/config/setnext.go
  shuttermint/cmd/deploy.go
  shuttermint/cmd/init.go
  shuttermint/cmd/keyper.go
  shuttermint/cmd/root.go
  shuttermint/cmd/show.go
  shuttermint/sandbox/config/config.go
  shuttermint/sandbox/deploy/deploy.go
Due: go-mod-tidy, gofumports

Remove default for ethereum url
  shuttermint/cmd/bootstrap.go
  shuttermint/cmd/config/config.go
  shuttermint/cmd/deploy.go
  shuttermint/cmd/keyper.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Remove unused constants
  shuttermint/cmd/deploy.go
Due: go-mod-tidy, gofumports

Use same name for all private key flags
  shuttermint/cmd/config/config.go
  shuttermint/cmd/config/schedule.go
  shuttermint/cmd/config/setnext.go
  shuttermint/cmd/deploy.go
Due: go-mod-tidy, gofumports

Improve command comments
  shuttermint/cmd/bootstrap.go
  shuttermint/cmd/chain.go
  shuttermint/cmd/config/config.go
  shuttermint/cmd/config/query.go
  shuttermint/cmd/config/schedule.go
  shuttermint/cmd/deploy.go
  shuttermint/cmd/init.go
  shuttermint/cmd/keyper.go
  shuttermint/cmd/root.go
  shuttermint/cmd/show.go
Due: go-mod-tidy, gofumports

Require no args in all commands
  shuttermint/cmd/chain.go
  shuttermint/cmd/config/list.go
  shuttermint/cmd/config/query.go
  shuttermint/cmd/config/schedule.go
  shuttermint/cmd/config/setnext.go
  shuttermint/cmd/deploy.go
  shuttermint/cmd/init.go
  shuttermint/cmd/keyper.go
  shuttermint/cmd/show.go
Due: go-mod-tidy, gofumports

Do not send DKG messages when the corresponding phase is over
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Make shversion.Version a function, include go version
  shuttermint/Makefile
  shuttermint/build-release
  shuttermint/cmd/chain.go
  shuttermint/cmd/keyper.go
  shuttermint/cmd/root.go
  shuttermint/cmd/shversion/shversion.go
  shuttermint/sandbox/testclient/testclient.go
Due: go-mod-tidy, gofumports

Update readme to reflect changed commands
  README.md
Due: none

Remove --config-contract flag from bootstrap script
  shuttermint/cmd/bootstrap.go
Due: go-mod-tidy, gofumports

Clean the output file path in deploy
  shuttermint/cmd/deploy.go
Due: go-mod-tidy, gofumports

Use common.Address instead of strings inside the ContractsJSON struct
  shuttermint/cmd/bootstrap.go
  shuttermint/cmd/config/config.go
  shuttermint/cmd/deploy.go
  shuttermint/sandbox/contracts.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Use new default branch main
  .circleci/config.yml
  shuttermint/Makefile
Due: none

Emit event in executor contract if tx fails
  contracts/contracts/ExecutorContract.sol
  shuttermint/contract/binding.go
Due: go-mod-tidy

Don't look twice for events in current block
  shuttermint/keyper/observe/mainchain.go
Due: go-mod-tidy, gofumports

Add docs for config contract in readme
  README.md
Due: none

Declare RawKeyperConfig.ExecutionStaggering as uint64
  shuttermint/cmd/keyper.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Do not delay the execution for more than 50% of the execution timeout
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Fix VerifySignature's docstring
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Move all actions to keyper/actions.go
  shuttermint/keyper/actions.go
  shuttermint/keyper/decide.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Use consistent naming for CheckIn related functionality
  shuttermint/keyper/decide.go
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Make all action fields public
  shuttermint/keyper/actions.go
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Fix encryption in javascript
  example/src/utils.js
Due: none

Fix key broadcast contract
  contracts/contracts/KeyBroadcastContract.sol
  example/src/assets/abis/KeyBroadcastContract.json
  shuttermint/contract/binding.go
Due: go-mod-tidy

Verify signatures with prefix
  contracts/contracts/TestTargetContract.sol
  example/src/utils.js
  shuttermint/contract/binding.go
Due: go-mod-tidy

Decode messages as UTF8 in interface
  example/src/components/TargetSection.vue
Due: none

Fix tx encoding
  shuttermint/shcryptowasm/main_wasm.go
Due: go-mod-tidy, gofumports

Wait for good time to send txs
  example/src/components/SubmitForm.vue
Due: none

Shuffle txs before execution
  shuttermint/keyper/observe/mainchain.go
  shuttermint/shcrypto/shuffle.go
  shuttermint/shcrypto/shuffle_test.go
Due: go-mod-tidy, gofumports

Store pointer to struct in shutterevents.MakeEvent
  shuttermint/keyper/observe/shutter.go
  shuttermint/keyper/shutterevents/events.go
  shuttermint/keyper/shutterevents/events_test.go
Due: go-mod-tidy, gofumports

Make IActions serializable with gob
  shuttermint/keyper/actions.go
  shuttermint/keyper/actions_test.go
Due: go-mod-tidy, gofumports

Path conditions:
  go-mod-tidy: any of: \.go$
  mypy: any of: \.py$
  gofumports: any of: \.go$, but not: ^shuttermint/contract/binding\.go|shuttermint/shmsg/.*\.pb\.go$
