Repository shutter-network/shutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, mypy, gofumports

go-mod-tidy:
  name: go-mod-tidy
  entry: tools/go-mod-tidy
  language: script

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - contracts/tests/
  - noxfile.py
  pass_filenames: false

gofumports:
  name: gofumports
  entry: gofumports
  language: system
  args:
  - -w
  - -local
  - github.com/brainbot-com/shutter
  pass_filenames: true

Fix prettier pre-commit hook
  .pre-commit-config.yaml
Due: none

Use gci and gofumpt in pre-commit
  .circleci/config.yml
  .pre-commit-config.yaml
  shuttermint/Makefile
  shuttermint/app/messages_test.go
  shuttermint/go.mod
  shuttermint/shcrypto/encryption_test.go
  shuttermint/shcrypto/feldman_test.go
  shuttermint/tools.go
Due: go-mod-tidy, gofumports

Disable pip version check on CircleCI
  .circleci/config.yml
Due: none

Add readme
  README.md
Due: none

Allow shortands for deploy CLI flags
  shuttermint/sandbox/deploy/deploy.go
Due: go-mod-tidy, gofumports

Use ws insead of http in readme
  README.md
Due: none

Add missing JSON RPC URL to readme commands
  README.md
Due: none

Fix private key in readme
  README.md
Due: none

Use go 1.16 on CircleCI
  .circleci/config.yml
Due: none

Only track dependencies for code generating tools
  .circleci/config.yml
  shuttermint/Makefile
  shuttermint/go.mod
  shuttermint/go.sum
  shuttermint/tools.go
Due: go-mod-tidy, gofumports

Update dependencies
  shuttermint/go.mod
  shuttermint/go.sum
Due: none

Remove unused VERSION variable from Makefile
  shuttermint/Makefile
Due: none

Test with go 1.15 and 1.16
  .circleci/config.yml
Due: none

Rewrite key broadcasting contract
  contracts/contracts/KeyBroadcastContract.sol
  contracts/tests/test_key_broadcast_contract.py
Due: mypy

Remove some linter warnings
  shuttermint/keyper/keyper.go
  shuttermint/shcrypto/encryption_test.go
  shuttermint/shcrypto/keys_test.go
  shuttermint/shmsg/encode.go
Due: go-mod-tidy, gofumports

Upgrade golangci-lint on CircleCi
  .circleci/config.yml
Due: none

Show the event if applyEvent fails
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Try only once to publish the epoch secret key
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Send eon public key vote txs
  shuttermint/contract/binding.go
  shuttermint/contract/key_broadcast.go
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Do not try to deploy the ERC1820 contract twice
  shuttermint/.golangci.yml
  shuttermint/contract/erc1820.go
  shuttermint/sandbox/deploy/deploy.go
Due: go-mod-tidy, gofumports

Rename erc1820 functions/variables
  shuttermint/contract/erc1820/bin.go
  shuttermint/contract/erc1820/erc1820.go
  shuttermint/sandbox/deploy/deploy.go
Due: go-mod-tidy, gofumports

Move erc1820 contract to own namespace
  shuttermint/contract/erc1820/erc1820.go
  shuttermint/sandbox/deploy/deploy.go
Due: go-mod-tidy, gofumports

Silence linter warning in erc1820's waitMinedSuccessful
  shuttermint/contract/erc1820/erc1820.go
Due: go-mod-tidy, gofumports

Encrypt txs in UI
  contracts/contracts/KeyBroadcastContract.sol
  example/src/assets/abis/KeyBroadcastContract.json
  example/src/assets/addresses.js
  example/src/components/SubmitForm.vue
  example/src/main.js
  example/src/utils.js
  shuttermint/contract/binding.go
  shuttermint/keyper/decide.go
  shuttermint/shcrypto/encoding.go
  shuttermint/shcryptowasm/main_wasm.go
Due: go-mod-tidy, gofumports

Remove the rlp encoding tests
  shuttermint/shcrypto/encoding_test.go
Due: go-mod-tidy, gofumports

Make the log output of IAction.Run stand out
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Add cmd/shversion package
  shuttermint/Makefile
  shuttermint/cmd/keyper.go
  shuttermint/cmd/root.go
  shuttermint/cmd/run.go
  shuttermint/cmd/shversion/shversion.go
  shuttermint/sandbox/testclient/testclient.go
Due: go-mod-tidy, gofumports

Disable the magic constant linter gomnd
  shuttermint/.golangci.yml
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Add some nolint directives for long lines..
  shuttermint/keyper/utils_test.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Upload github binary releases
  .circleci/config.yml
Due: none

Let emacs users easily validate the CircleCI config file
  .circleci/config.yml
Due: none

Add build-release script
  .circleci/config.yml
  shuttermint/build-release
Due: none

Allow running build-release without VERSION being set
  shuttermint/build-release
Due: none

Test that we send accusations against offline keypers
  shuttermint/keyper/puredkg/puredkg_test.go
Due: go-mod-tidy, gofumports

Fix puredkg's package docstring
  shuttermint/keyper/puredkg/puredkg.go
Due: go-mod-tidy, gofumports

Accuse offline keypers, never accuse ourselves
  shuttermint/keyper/puredkg/puredkg.go
Due: go-mod-tidy, gofumports

Remove interactive mode/flag
  shuttermint/cmd/keyper.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Update tendermint to version 0.34.7
  shuttermint/cmd/run.go
  shuttermint/go.mod
  shuttermint/go.sum
Due: go-mod-tidy, gofumports

Path conditions:
  go-mod-tidy: any of: \.go$
  mypy: any of: \.py$
  gofumports: any of: \.go$, but not: ^shuttermint/contract/binding\.go|shuttermint/shmsg/.*\.pb\.go$
