Repository shutter-network/shutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, mypy, gofumports

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: local
    hooks:
      # This one replaces github.com/dnephin/pre-commit-golang's
      # go-mod-tidy hook because it only works with top-level
      # go.mod/go.sum file
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: tools/go-mod-tidy
        files: '\.go$'
        language: script

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: ac0f6582d2484b3aa90b05d568e70f9f3c1374c7
    hooks:
      - id: go-fmt

  # CircleCI stop here

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        additional_dependencies:
          ["prettier@2.2.1", "prettier-plugin-solidity@1.0.0-beta.5"]
        args: ["--plugin=prettier-plugin-solidity"]
        exclude: "^contracts/openzeppelin/.*"

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/sqlalchemyorg/zimports
    rev: cfdf326902fe8e4478d11a7cb2e837bab1cde1d0
    hooks:
      - id: zimports

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ["contracts/tests/", "noxfile.py"]
        pass_filenames: False
      - id: gofumports
        name: gofumports
        entry: gofumports
        language: system
        types: [go]
        args: ["-w", "-local", "github.com/brainbot-com/shutter"]
        pass_filenames: True
        exclude: ^shuttermint/contract/binding\.go|shuttermint/shmsg/.*\.pb\.go$

Cleanup sandbox/prepare a bit
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Remove sandbox.MarkFlagRequired
  shuttermint/cmd/config/config.go
  shuttermint/cmd/config/setnext.go
  shuttermint/sandbox/utils.go
Due: go-mod-tidy, gofumports

Remove the unused sandbox.ExitIfError
  shuttermint/sandbox/utils.go
Due: go-mod-tidy, gofumports

Move InitTransactOpts to txbatch
  shuttermint/cmd/config/schedule.go
  shuttermint/medley/txbatch/txbatch.go
  shuttermint/sandbox/utils.go
Due: go-mod-tidy, gofumports

Send slashed deposits to configurable address
  contracts/contracts/DepositContract.sol
  contracts/tests/test_deposit_contract.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Configure optimizer explicitly
  contracts/brownie-config.yaml
Due: none

Fix slashing test
  contracts/tests/test_keyper_slasher.py
Due: mypy

Do not silently ignore errors in 'config schedule' subcommand
  shuttermint/cmd/config/schedule.go
  shuttermint/medley/revert.go
Due: go-mod-tidy, gofumports

Log the revert reason in runenv
  shuttermint/keyper/fx/runenv.go
Due: go-mod-tidy, gofumports

Let BindFlags consider environment variables based on the command name
  shuttermint/medley/medley.go
Due: go-mod-tidy, gofumports

Gracefully handle signals in the keyper
  shuttermint/cmd/keyper.go
  shuttermint/keyper/fx/runenv.go
  shuttermint/keyper/keyper.go
  shuttermint/keyper/observe/mainchain.go
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Rename contract.NewContractCaller to contract.NewCaller
  shuttermint/contract/caller.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Let config set-next choose start block and batch index automatically
  shuttermint/cmd/config/setnext.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Prevent slashed keyper from executing cipher batch
  contracts/contracts/ExecutorContract.sol
  contracts/tests/conftest.py
  contracts/tests/contract_helpers.py
  contracts/tests/test_deposit_contract.py
  contracts/tests/test_executor_contract.py
  shuttermint/cmd/deploy/deploy.go
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy, gofumports

Add prepare subcommand
  README.md
  shuttermint/.golangci.yml
  shuttermint/cmd/config/setnext.go
  shuttermint/cmd/prepare/configs.go
  shuttermint/cmd/prepare/fund.go
  shuttermint/cmd/prepare/prepare.go
  shuttermint/cmd/root.go
  shuttermint/contract/config.go
Due: go-mod-tidy, gofumports

Pass -e to prepare fund subcommand
  README.md
Due: none

Fix handling of --output argument in deploy
  shuttermint/cmd/deploy/deploy.go
Due: go-mod-tidy, gofumports

Avoid copying next config during scheduling
  contracts/contracts/ConfigContract.sol
  contracts/tests/contract_helpers.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Do not use cobra's PreRunE in cmd/deploy
  shuttermint/cmd/deploy/deploy.go
Due: go-mod-tidy, gofumports

Exit non-zero if required subcommand is missing
  shuttermint/cmd/config/config.go
  shuttermint/cmd/prepare/prepare.go
  shuttermint/cmd/root.go
  shuttermint/medley/medley.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Remove sandbox/prepare
  shuttermint/Makefile
  shuttermint/cmd/config/setnext.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Add completion subcommand for shell completion
  shuttermint/cmd/completion.go
  shuttermint/cmd/root.go
Due: go-mod-tidy, gofumports

Enhance logging when not running as keyper
  shuttermint/keyper/decide.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Allow output directory to exist in prepare configs
  shuttermint/cmd/prepare/configs.go
Due: go-mod-tidy, gofumports

Use medley.WaitMined in erc1820
  shuttermint/contract/erc1820/erc1820.go
Due: go-mod-tidy, gofumports

Fix Shutter.FindBatchConfigByConfigIndex, add test
  shuttermint/keyper/observe/shutter.go
  shuttermint/keyper/observe/shutter_test.go
Due: go-mod-tidy, gofumports

Make cancellation responsive in medley.WaitMined
  shuttermint/medley/medley.go
Due: go-mod-tidy, gofumports

Log revert reason in TXBatch.WaitMined
  shuttermint/medley/txbatch/txbatch.go
Due: go-mod-tidy, gofumports

Silence gosec linter in shcrypto/shuffle.go
  shuttermint/shcrypto/shuffle.go
Due: go-mod-tidy, gofumports

Replace obsolete golint with revive
  shuttermint/.golangci.yml
  shuttermint/app/app.go
  shuttermint/cmd/init.go
  shuttermint/keyper/fx/pending_test.go
  shuttermint/shmsg/messages.go
Due: go-mod-tidy, gofumports

Implement Appeal.IsExpired
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Implement Accuse.IsExpired
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Use buffered channel for signals
  shuttermint/cmd/keyper.go
Due: go-mod-tidy, gofumports

Upgrade golangci-lint to 1.40.1 on CircleCI
  .circleci/config.yml
Due: none

Simplify shcryto.computeBlockKeys a bit
  shuttermint/shcrypto/encryption.go
Due: go-mod-tidy, gofumports

Prevent panic in Keyper.ShortInfo
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Add gas price option to config command
  shuttermint/cmd/config/config.go
  shuttermint/cmd/config/schedule.go
  shuttermint/cmd/config/setnext.go
  shuttermint/contract/config.go
Due: go-mod-tidy, gofumports

Make configs private
  contracts/contracts/ConfigContract.sol
  contracts/tests/contract_helpers.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Make release targets configurable via environment variable
  shuttermint/build-release
Due: none

Hardcode eon when fetching keys for example dapp
  example/src/App.vue
  example/src/components/StatusPanel.vue
Due: none
