Repository shutter-network/shutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, mypy, gofumports

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: local
    hooks:
      # This one replaces github.com/dnephin/pre-commit-golang's
      # go-mod-tidy hook because it only works with top-level
      # go.mod/go.sum file
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: tools/go-mod-tidy
        files: '\.go$'
        language: script

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: ac0f6582d2484b3aa90b05d568e70f9f3c1374c7
    hooks:
      - id: go-fmt

  # CircleCI stop here

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        additional_dependencies:
          ["prettier@2.2.1", "prettier-plugin-solidity@1.0.0-beta.5"]
        args: ["--plugin=prettier-plugin-solidity"]
        exclude: "^contracts/openzeppelin/.*"

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/sqlalchemyorg/zimports
    rev: cfdf326902fe8e4478d11a7cb2e837bab1cde1d0
    hooks:
      - id: zimports

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ["contracts/tests/", "noxfile.py"]
        pass_filenames: False
      - id: gofumports
        name: gofumports
        entry: gofumports
        language: system
        types: [go]
        args: ["-w", "-local", "github.com/brainbot-com/shutter"]
        pass_filenames: True
        exclude: ^shuttermint/contract/binding\.go|shuttermint/shmsg/.*\.pb\.go$

Improve error message
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Allow sending many execution txs at the same time
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Apply staggering to plain batch execution txs
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Avoid referencing loop variable
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Let executeCipherBatch skip the cipher execution
  contracts/contracts/ExecutorContract.sol
  contracts/tests/test_executor_contract.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Do not expire ExecuteCipherBatch actions based on blocks
  shuttermint/keyper/decide.go
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Set default log level to error in the generated config file
  shuttermint/cmd/init.go
Due: go-mod-tidy, gofumports

Upgrade go version used on CircleCI
  .circleci/config.yml
Due: none

Run abigen on CircleCI, upload combined.json
  .circleci/config.yml
Due: none

Update abigen generated files
  shuttermint/contract/binding.go
Due: go-mod-tidy

Fix publish-release
  .circleci/config.yml
Due: none

Improve tx sending
  example/src/App.vue
  example/src/blocknumber.js
  example/src/components/StatusPanel.vue
  example/src/components/SubmitForm.vue
  example/src/components/SubmitPanel.vue
  example/src/main.js
Due: none

Add status section to interface
  example/src/App.vue
  example/src/assets/abis/ExecutorContract.json
  example/src/blocknumber.js
  example/src/components/Enabler.vue
  example/src/components/StatusPanel.vue
  example/src/components/SubmitPanel.vue
  example/src/main.js
Due: none

Load addresses from contracts.json file
  example/src/assets/addresses.js
  example/src/assets/contracts.json
  example/src/main.js
Due: none

Enable thelper linter
  shuttermint/.golangci.yml
  shuttermint/internal/shtest/shtest.go
  shuttermint/keyper/epochkg/epochkg_test.go
  shuttermint/keyper/observe/shutter_test.go
  shuttermint/keyper/shutterevents/events_test.go
Due: go-mod-tidy, gofumports

Store pending actions as part of the state
  shuttermint/cmd/keyper.go
  shuttermint/keyper/decide.go
  shuttermint/keyper/fx/runenv.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Add fx.PendingActions
  shuttermint/keyper/fx/pending.go
  shuttermint/keyper/fx/runenv.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Enable godot linter
  shuttermint/.golangci.yml
  shuttermint/app/app.go
  shuttermint/app/batch_state.go
  shuttermint/app/checktx.go
  shuttermint/app/configvoting.go
  shuttermint/app/messages.go
  shuttermint/app/powermap.go
  shuttermint/app/types.go
  shuttermint/app/voting.go
  shuttermint/cmd/keyper.go
  shuttermint/cmd/root.go
  shuttermint/cmd/shversion/shversion.go
  shuttermint/contract/batcher.go
  shuttermint/contract/config.go
  shuttermint/contract/erc1820/erc1820.go
  shuttermint/keyper/decide.go
  shuttermint/keyper/epochkg/epochkg_test.go
  shuttermint/keyper/fx/actions.go
  shuttermint/keyper/fx/actions_test.go
  shuttermint/keyper/fx/messagesender.go
  shuttermint/keyper/keyper.go
  shuttermint/keyper/observe/mainchain.go
  shuttermint/keyper/observe/shutter.go
  shuttermint/keyper/observe/shutter_test.go
  shuttermint/keyper/observe/world.go
  shuttermint/keyper/puredkg/puredkg.go
  shuttermint/keyper/shutterevents/batchconfig.go
  shuttermint/keyper/shutterevents/events.go
  shuttermint/keyper/shutterevents/marshal.go
  shuttermint/keyper/types.go
  shuttermint/medley/medley.go
  shuttermint/sandbox/contracts.go
  shuttermint/sandbox/ganache.go
  shuttermint/sandbox/signing_test.go
  shuttermint/shcrypto/feldman.go
  shuttermint/shcrypto/shuffle.go
  shuttermint/shmsg/encode.go
  shuttermint/shmsg/extend.go
  shuttermint/shmsg/messages.go
Due: go-mod-tidy, gofumports

Move SyncMain/SyncShutter functionality to observe
  shuttermint/keyper/keyper.go
  shuttermint/keyper/observe/mainchain.go
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Synchronize access to the 'world'
  shuttermint/keyper/decide.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Allow adding txs to next batch
  contracts/contracts/BatcherContract.sol
  contracts/contracts/ConfigContract.sol
  contracts/tests/test_batcher_contract.py
  contracts/tests/test_config_contract.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Rergun abigen with newest version
  shuttermint/contract/binding.go
Due: go-mod-tidy

Show info about race detector as part of the version string
  shuttermint/cmd/shversion/race.go
  shuttermint/cmd/shversion/race_enabled.go
  shuttermint/cmd/shversion/shversion.go
Due: go-mod-tidy, gofumports

Make tx sending more reliable
  example/src/assets/contracts.json
  example/src/components/SubmitForm.vue
Due: none

Add instructions to example dapp
  example/src/App.vue
  example/src/components/BatchSection.vue
  example/src/components/TargetSection.vue
Due: none

Log action id
  shuttermint/keyper/fx/runenv.go
Due: go-mod-tidy, gofumports

Unify handling of main chain and shuttermint transactions
  shuttermint/keyper/fx/runenv.go
Due: go-mod-tidy, gofumports

Fix medley's docstring
  shuttermint/medley/medley.go
Due: go-mod-tidy, gofumports

Add custom error type for remote shuttermint errors
  shuttermint/keyper/fx/messagesender.go
  shuttermint/keyper/fx/runenv.go
Due: go-mod-tidy, gofumports

Allow settings additional build flags via GOFLAGS
  shuttermint/Makefile
Due: none

Allow setting the bin directory via BINDIR
  shuttermint/Makefile
Due: none

Do not specify group in install command
  shuttermint/Makefile
Due: none

Make sure the atomic.Value is 64-bit aligned
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Fix 'slice bounds out of range' panic in AddActions
  shuttermint/keyper/fx/pending.go
Due: go-mod-tidy, gofumports

Make state variables public
  contracts/contracts/KeyperSlasher.sol
Due: none

Remove names for unused parameters
  contracts/contracts/DepositContract.sol
Due: none

Hardcode eon key broadcast gas limit
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Run abigen
  shuttermint/contract/binding.go
Due: go-mod-tidy

Make basic state variables public
  contracts/contracts/DepositContract.sol
  contracts/contracts/KeyBroadcastContract.sol
  contracts/contracts/TestTargetContract.sol
Due: none

Pin solc version in all files to 0.7.6
  contracts/contracts/BatcherContract.sol
  contracts/contracts/ConfigContract.sol
  contracts/contracts/DepositContract.sol
  contracts/contracts/ExecutorContract.sol
  contracts/contracts/FeeBankContract.sol
  contracts/contracts/KeyBroadcastContract.sol
  contracts/contracts/KeyperSlasher.sol
  contracts/contracts/MockBatcherContract.sol
  contracts/contracts/MockTargetContract.sol
  contracts/contracts/TestDepositTokenContract.sol
  contracts/contracts/TestTargetContract.sol
Due: none
