Repository shutter-network/shutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, mypy, gofumports

go-mod-tidy:
  name: go-mod-tidy
  entry: tools/go-mod-tidy
  language: script

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - contracts/tests/
  - noxfile.py
  pass_filenames: false

gofumports:
  name: gofumports
  entry: gofumports
  language: system
  args:
  - -w
  - -local
  - github.com/brainbot-com/shutter
  pass_filenames: true

Make interface work with new deployment
  example/src/assets/abis/BatcherContract.json
  example/src/assets/abis/ConfigContract.json
  example/src/assets/abis/ExecutorContract.json
  example/src/assets/abis/KeyBroadcastContract.json
  example/src/assets/abis/TestTargetContract.json
  example/src/assets/contracts.json
  example/src/utils.js
Due: none

Fix typo
  shuttermint/app/app.go
Due: go-mod-tidy, gofumports

Add failing test case for Keyper.ShortInfo
  shuttermint/keyper/keyper_test.go
Due: go-mod-tidy, gofumports

Use merge-base for lint-changes target
  shuttermint/Makefile
Due: none

Do not retry 'cannot accuse empty batch' errors
  shuttermint/keyper/fx/actions.go
  shuttermint/keyper/fx/messagesender.go
Due: go-mod-tidy, gofumports

Do no retry 'wrong signer' errors when appealing
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Do not retry 'already accused' errors
  shuttermint/keyper/fx/actions.go
Due: go-mod-tidy, gofumports

Capitalize some of the keyper's log messages
  shuttermint/keyper/decide.go
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Store verified signatures inside the decider's State
  shuttermint/keyper/decide.go
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Add 'prepare fund query' subcommand
  shuttermint/cmd/prepare/configs.go
  shuttermint/cmd/prepare/fund.go
  shuttermint/cmd/prepare/prepare.go
Due: go-mod-tidy, gofumports

Add a 'prepare unfund' command
  shuttermint/cmd/prepare/unfund.go
Due: go-mod-tidy, gofumports

Enhance 'prepare fund' subcommand
  shuttermint/cmd/prepare/fund.go
Due: go-mod-tidy, gofumports

Use gotest.tools instead of testify
  shuttermint/.golangci.yml
  shuttermint/app/app_test.go
  shuttermint/app/checktx_test.go
  shuttermint/app/configvoting_test.go
  shuttermint/app/dkg_test.go
  shuttermint/app/eonvoting_test.go
  shuttermint/app/messages_test.go
  shuttermint/app/noncetracker_test.go
  shuttermint/app/powermap_test.go
  shuttermint/contract/config_test.go
  shuttermint/go.mod
  shuttermint/go.sum
  shuttermint/internal/shtest/shtest.go
  shuttermint/keyper/epochkg/epochkg_test.go
  shuttermint/keyper/fx/actions_test.go
  shuttermint/keyper/fx/pending_test.go
  shuttermint/keyper/observe/shutter_test.go
  shuttermint/keyper/puredkg/puredkg_test.go
  shuttermint/keyper/shutterevents/events_test.go
  shuttermint/sandbox/signing_test.go
  shuttermint/shcrypto/encoding_test.go
  shuttermint/shcrypto/encryption_test.go
  shuttermint/shcrypto/feldman.go
  shuttermint/shcrypto/feldman_test.go
  shuttermint/shcrypto/gob_test.go
  shuttermint/shcrypto/keys.go
  shuttermint/shcrypto/keys_test.go
  shuttermint/shcrypto/shuffle_test.go
  shuttermint/shmsg/encode_test.go
  shuttermint/shmsg/extend_test.go
  shuttermint/shmsg/messages_test.go
Due: go-mod-tidy, gofumports

Multiply gas price by 1.5 in prepare fund
  shuttermint/cmd/prepare/fund.go
Due: go-mod-tidy, gofumports

Fix panic in medley's GetRevertReason
  shuttermint/medley/revert.go
  shuttermint/medley/revert_test.go
Due: go-mod-tidy, gofumports

wip: event attributes
  shuttermint/keyper/shutterevents/events.go
  shuttermint/keyper/shutterevents/helpers.go
Due: go-mod-tidy, gofumports

Require threshold to be less or equal to the number of keypers
  contracts/contracts/ConfigContract.sol
  contracts/tests/test_config_contract.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Make the gas price multiplier configurable
  shuttermint/cmd/keyper.go
  shuttermint/cmd/prepare/configs.go
  shuttermint/cmd/prepare/fund.go
  shuttermint/contract/caller.go
  shuttermint/keyper/config.go
  shuttermint/keyper/gaspricer/gaspricer.go
  shuttermint/keyper/gaspricer/gaspricer_test.go
Due: go-mod-tidy, gofumports

Write target proxy contract
  .pre-commit-config.yaml
  contracts/contracts/TargetProxyContract.sol
  contracts/contracts/TestProxyReceiver.sol
  contracts/tests/conftest.py
  contracts/tests/contract_helpers.py
  contracts/tests/test_keyper_slasher.py
  contracts/tests/test_target_proxy_contract.py
  setup.cfg
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Deploy target proxy contract with deploy script
  contracts/contracts/binding.sol
  shuttermint/cmd/deploy/contracts.go
  shuttermint/cmd/deploy/deploy.go
  shuttermint/contract/binding.go
Due: go-mod-tidy, gofumports

Encode messages for target proxy contract
  example/src/components/SubmitForm.vue
  example/src/utils.js
Due: none

Fix contract deployment
  shuttermint/cmd/deploy/contracts.go
  shuttermint/cmd/deploy/deploy.go
Due: go-mod-tidy, gofumports

Fix fallback function signature
  contracts/contracts/TestProxyReceiver.sol
Due: none

Run abigen
  shuttermint/contract/binding.go
Due: go-mod-tidy

Disable prettier for fallback function
  contracts/contracts/TestProxyReceiver.sol
Due: none

Update prettier version run in CI
  noxfile.py
Due: mypy

Increment prettier cache version
  .circleci/config.yml
Due: none

Run prettier
  contracts/contracts/BatcherContract.sol
  contracts/contracts/ConfigContract.sol
  contracts/contracts/DepositContract.sol
  contracts/contracts/ExecutorContract.sol
  contracts/contracts/KeyBroadcastContract.sol
  contracts/contracts/KeyperSlasher.sol
  contracts/contracts/MockBatcherContract.sol
  contracts/contracts/TestTargetContract.sol
  example/src/App.vue
  shuttermint/contract/binding.go
Due: go-mod-tidy

Add failing test case for overly strict require
  contracts/tests/test_executor_contract.py
Due: mypy

Check the cipher hash to decide if a batch is empty
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Fix overly strict require in ExecutorContract
  contracts/contracts/ExecutorContract.sol
  shuttermint/contract/binding.go
Due: go-mod-tidy

Add ExecutorContract.skipEmptyOrTimedOutBatches
  contracts/contracts/ExecutorContract.sol
  contracts/tests/test_executor_contract.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Implement setHalfSteps function
  contracts/contracts/ExecutorContract.sol
  contracts/tests/test_executor_contract.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Use latest contracts
  example/src/assets/contracts.json
Due: none

Test with go 1.15, 1.16, 1.17; set minimum version to 1.15
  .circleci/config.yml
  shuttermint/cmd/prepare/configs.go
  shuttermint/cmd/shversion/race.go
  shuttermint/cmd/shversion/race_enabled.go
  shuttermint/go.mod
  shuttermint/tools.go
Due: go-mod-tidy, gofumports

Update eth-brownie to 1.16.2
  .pre-commit-config.yaml
  requirements.in
  requirements.txt
Due: none

Use circleci path filtering
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Generate circleci config via clj script
  .circleci/README.md
  .circleci/basis.yml
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/contracts.yml
  .circleci/deps.edn
  .circleci/gen.clj
  .circleci/quick.yml
  .circleci/shuttermint-jobs.yml
  .circleci/shuttermint.yml
  .gitignore
Due: none

Path conditions:
  go-mod-tidy: any of: \.go$
  mypy: any of: \.py$
  gofumports: any of: \.go$, but not: ^shuttermint/contract/binding\.go|shuttermint/shmsg/.*\.pb\.go$
