Repository shutter-network/shutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, mypy, gofumports

go-mod-tidy:
  name: go-mod-tidy
  entry: tools/go-mod-tidy
  language: script

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - contracts/tests/
  - noxfile.py
  pass_filenames: false

gofumports:
  name: gofumports
  entry: gofumports
  language: system
  args:
  - -w
  - -local
  - github.com/brainbot-com/shutter
  pass_filenames: true

Remove combined.json
  shuttermint/.gitignore
  shuttermint/contract/combined.json
Due: none

Log less useless information
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Use go 1.15.8 on CircleCI
  .circleci/config.yml
Due: none

Add subcommand to show internal state
  shuttermint/cmd/show.go
  shuttermint/keyper/observe/shutter.go
  shuttermint/sandbox/observe/main.go
Due: go-mod-tidy, gofumports

Remove linter warning
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Sync to the last committed block height
  shuttermint/cmd/show.go
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Dump internal state on USR1 signal
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Reduce log output
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Retry DKG if it fails
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Do not send epoch secret share if the epoch secret key exists
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Do not send decryption signature unless necessary
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Let CircleCI cache the complete test and build step
  .circleci/config.yml
Due: none

Let CircleCI cache the golangci-lint run
  .circleci/config.yml
Due: none

Do not install ganache on CircleCI
  .circleci/config.yml
Due: none

Upgrade pre-commit-hooks
  .pre-commit-config.yaml
Due: none

Upgrade go dependencies
  shuttermint/go.mod
  shuttermint/go.sum
Due: none

Make the shuttermint Makefile portable
  shuttermint/Makefile
Due: none

Make the contracts Makefile portable
  contracts/Makefile
Due: none

Forbid cipher execution if execution timeout is reached
  contracts/contracts/ExecutorContract.sol
  contracts/tests/test_executor_contract.py
Due: mypy

Reformat files with new prettier version
  contracts/contracts/BatcherContract.sol
  contracts/contracts/ConfigContract.sol
  contracts/contracts/DepositContract.sol
  contracts/contracts/ExecutorContract.sol
  contracts/contracts/KeyperSlasher.sol
  contracts/contracts/TestTargetContract.sol
  example/public/wasm_exec.js
  example/src/assets/addresses.js
  example/src/components/Enabler.vue
  example/src/components/SubmitForm.vue
  example/src/main.js
  example/src/utils.js
Due: none

Upgrade prettier and the solidity plugin
  .circleci/config.yml
  .pre-commit-config.yaml
  .prettierignore
  noxfile.py
Due: mypy

Use fix-byte-order-mark instead of check-byte-order-mark
  .pre-commit-config.yaml
Due: none

Do not force a specific node version
  .circleci/config.yml
  .pre-commit-config.yaml
  noxfile.py
Due: mypy

Add batch index argument to ExecutorContract functions
  contracts/contracts/ExecutorContract.sol
  contracts/tests/benchmarks/benchmark_executor.py
  contracts/tests/test_executor_contract.py
  contracts/tests/test_keyper_slasher.py
Due: mypy

Add batch index argument when calling ExecutorContract from go
  shuttermint/contract/binding.go
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Create snapshot only once in benchmark_executor.py
  contracts/tests/benchmarks/benchmark_executor.py
  contracts/tests/contract_helpers.py
Due: mypy

Build wasm as part of the CircleCI build job, remove build-wasm job
  .circleci/config.yml
Due: none

Speedup contract tests
  contracts/tests/benchmarks/benchmark_batcher.py
  contracts/tests/benchmarks/benchmark_executor.py
  contracts/tests/conftest.py
  contracts/tests/test_batcher_contract.py
  contracts/tests/test_executor_contract.py
Due: mypy

Fix typo
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Upgrade tendermint to 0.34.4
  shuttermint/go.mod
  shuttermint/go.sum
Due: none

Run go mod tidy with go 1.16rc1
  shuttermint/go.sum
Due: none

Add config script
  shuttermint/Makefile
  shuttermint/contract/config.go
  shuttermint/medley/medley.go
  shuttermint/sandbox/config/config.go
  shuttermint/sandbox/config/list.go
  shuttermint/sandbox/config/query.go
  shuttermint/sandbox/config/schedule.go
  shuttermint/sandbox/config/setnext.go
  shuttermint/sandbox/contracts.go
  shuttermint/sandbox/utils.go
Due: go-mod-tidy, gofumports

Align batch and epoch index
  shuttermint/keyper/decide.go
  shuttermint/shcrypto/keys.go
Due: go-mod-tidy, gofumports

Remove BatchParams struct
  shuttermint/contract/config.go
  shuttermint/sandbox/nextbatch/nextbatch.go
Due: go-mod-tidy, gofumports

Simplify executionBlock computation
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Manage the PendingHalfStep field in only one method
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Refactor half step execution
  shuttermint/contract/config.go
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Do not send epoch secret keys twice
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Fix SkipCipherBatch.String method
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Path conditions:
  go-mod-tidy: any of: \.go$
  mypy: any of: \.py$
  gofumports: any of: \.go$, but not: ^shuttermint/contract/binding\.go|shuttermint/shmsg/.*\.pb\.go$
