Repository shutter-network/shutter: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, mypy, gofumports

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: local
    hooks:
      # This one replaces github.com/dnephin/pre-commit-golang's
      # go-mod-tidy hook because it only works with top-level
      # go.mod/go.sum file
      - id: go-mod-tidy
        name: go-mod-tidy
        entry: tools/go-mod-tidy
        files: '\.go$'
        language: script

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: ac0f6582d2484b3aa90b05d568e70f9f3c1374c7
    hooks:
      - id: go-fmt

  # CircleCI stop here

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        additional_dependencies:
          ["prettier@2.2.1", "prettier-plugin-solidity@1.0.0-beta.5"]
        args: ["--plugin=prettier-plugin-solidity"]
        exclude: "^contracts/openzeppelin/.*"

  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
      - id: flake8

  - repo: https://github.com/sqlalchemyorg/zimports
    rev: cfdf326902fe8e4478d11a7cb2e837bab1cde1d0
    hooks:
      - id: zimports

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: ["contracts/tests/", "noxfile.py"]
        pass_filenames: False
      - id: gofumports
        name: gofumports
        entry: gofumports
        language: system
        types: [go]
        args: ["-w", "-local", "github.com/brainbot-com/shutter"]
        pass_filenames: True
        exclude: ^shuttermint/contract/binding\.go|shuttermint/shmsg/.*\.pb\.go$

Hide signing key field by default
  example/src/components/SubmitForm.vue
Due: none

Update contracts
  example/src/assets/contracts.json
Due: none

Update blog post link
  example/src/components/Intro.vue
Due: none

Update example application intro
  example/src/components/Intro.vue
Due: none

Show size without EpochSecretKeyShares
  shuttermint/sandbox/state-du/du.go
Due: go-mod-tidy, gofumports

Only log info about non-finalized DKGs
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Garbage collect events from the Eons field
  shuttermint/keyper/decide.go
  shuttermint/keyper/keyper.go
  shuttermint/keyper/observe/shutter.go
  shuttermint/sandbox/state-du/du.go
Due: go-mod-tidy, gofumports

Remove unused 'Actions' field from storedState
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Forbid accusations if the batch is empty
  contracts/contracts/ExecutorContract.sol
  contracts/contracts/KeyperSlasher.sol
  contracts/tests/test_executor_contract.py
  contracts/tests/test_keyper_slasher.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Do not send decryption signatures for empty batches
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Allow filtering by BatchIndex
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Drop batches from the Batches map
  shuttermint/keyper/decide.go
  shuttermint/keyper/keyper.go
  shuttermint/keyper/observe/shutter.go
  shuttermint/sandbox/state-du/du.go
Due: go-mod-tidy, gofumports

Increase the default transaction size limit used in sandbox/prepare
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Build the wasm file automatically when running 'npm run serve'
  example/package.json
Due: none

Prevent deadlock
  shuttermint/keyper/keyper.go
Due: go-mod-tidy, gofumports

Update tendermint to 0.34.10
  shuttermint/go.mod
  shuttermint/go.sum
Due: none

Do not verify signatures when we have no transactions
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Shorten MainChain.syncExecutionState
  shuttermint/keyper/observe/mainchain.go
Due: go-mod-tidy, gofumports

Update linter config: remove/replace deprecated linters
  shuttermint/.golangci.yml
Due: none

Remove unused mainChainSyncedGracePeriod constant
  shuttermint/keyper/observe/mainchain.go
Due: go-mod-tidy, gofumports

Make all keypers appeal for everyone
  shuttermint/keyper/decide.go
  shuttermint/keyper/observe/mainchain.go
Due: go-mod-tidy, gofumports

Expect signatures preimage to be prefixed
  contracts/contracts/KeyperSlasher.sol
  contracts/tests/contract_helpers.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy

Send appeal if someone accuses us
  shuttermint/keyper/decide.go
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Add signature conversion functions
  shuttermint/contract/signatures.go
Due: go-mod-tidy, gofumports

Fix error format string
  shuttermint/keyper/observe/shutter.go
Due: go-mod-tidy, gofumports

Log stack trace when random number generator fails
  shuttermint/keyper/decide.go
  shuttermint/shcrypto/feldman.go
Due: go-mod-tidy, gofumports

Make linter happy
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Allow configuring the block time with 'shuttermint init'
  shuttermint/cmd/init.go
Due: go-mod-tidy, gofumports

Refactor config file reading
  shuttermint/cmd/keyper.go
  shuttermint/go.mod
  shuttermint/keyper/decide.go
  shuttermint/keyper/keyper.go
  shuttermint/keyper/types.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Move keyper.Config to dedicated file
  shuttermint/keyper/config.go
Due: go-mod-tidy, gofumports

Accuse keypers if they decrypt wrongly
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Don't appeal if we agree with the accusation
  shuttermint/keyper/decide.go
Due: go-mod-tidy, gofumports

Generate keyper config via template
  shuttermint/go.mod
  shuttermint/keyper/config.go
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Simplify configs implementation
  shuttermint/sandbox/prepare/prepare.go
Due: go-mod-tidy, gofumports

Update to solc v0.8.4
  .circleci/config.yml
  contracts/brownie-config.yaml
  contracts/contracts/BatcherContract.sol
  contracts/contracts/ConfigContract.sol
  contracts/contracts/DepositContract.sol
  contracts/contracts/ExecutorContract.sol
  contracts/contracts/FeeBankContract.sol
  contracts/contracts/KeyBroadcastContract.sol
  contracts/contracts/KeyperSlasher.sol
  contracts/contracts/MockBatcherContract.sol
  contracts/contracts/MockTargetContract.sol
  contracts/contracts/TestDepositTokenContract.sol
  contracts/contracts/TestTargetContract.sol
  contracts/contracts/binding.sol
Due: none

Run abigen
  shuttermint/contract/binding.go
Due: go-mod-tidy

Restrict function mutability
  contracts/contracts/KeyperSlasher.sol
  shuttermint/contract/binding.go
Due: go-mod-tidy

Avoid passing full config struct around
  contracts/contracts/BatcherContract.sol
  contracts/contracts/ConfigContract.sol
  contracts/contracts/ExecutorContract.sol
  contracts/contracts/KeyBroadcastContract.sol
  contracts/contracts/KeyperSlasher.sol
  contracts/tests/benchmarks/benchmark_batcher.py
  contracts/tests/contract_helpers.py
  contracts/tests/test_batcher_contract.py
  shuttermint/contract/binding.go
Due: go-mod-tidy, mypy
